name: (Reusable) Build gradle app with octo-sts token
on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # for octo-sts
    steps:
      - uses: octo-sts/action@e480437973a6f6ac2e9caa40ecabedc870d76395
        id: octo-sts
        with:
          scope: navikt/appsec-internal-test
          identity: readpkgs
#      - name: gh login
#        run: echo ${{ steps.octo-sts.outputs.token }} | gh auth login --with-token
#      - name: check token status
#        run: |
#          gh api \
#          -H "Accept: application/vnd.github+json" \
#          -H "X-GitHub-Api-Version: 2022-11-28" \
#          "/orgs/navikt/packages?package_type=maven"
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2
      - name: Generate sbom
        run: ./gradlew cyclonedxBom
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
      - name: Gradle build
        run: ./gradlew build
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
